<div class="fluid-container">
  <%= simple_form_for :patient, url: '../patients', authenticity_token: true, remote: true, method: :post do |f| %>
  <div class="form-row">
    <div class="col-sm-5"><%= f.input :fname, label: 'Nome' %></div>
    <div class="col-sm-5"><%= f.input :lname, label: 'Cognome' %></div>
    <div class="col-sm-2"><%= f.input :gender, collection: ['M', 'F'], label: 'Sesso', include_blank: false %></div>
  </div>
  <div class="form-row">
    <div class="col-sm-6"><%= f.input :fiscalcode, label: 'Codice fiscale' %></div>
    <div class="col-sm-6"><%= f.input :birth_date, as: :date, start_year: 1900, end_year: Date.today.year, order: [:day, :month, :year], label: 'Data di nascita' %></div>
  </div>
  <div class="form-row">
    <div class="col-sm-6"><%= f.input :address, label: 'Indirizzo' %></div>
    <div class="col-sm-3"><%= f.input :city, as: :select, label: 'Città' %></div>
    <div class="col-sm-3"><%= f.input :province, as: :select, label: 'Provincia' %></div>

  </div>

  <% if :after_form %>
    <%= f.input :create_patient_and_exam, as: :hidden, input_html: { value: true } %>
  <% end %>
  <%= f.submit 'Salva', class: 'btn btn-primary' %>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#patient_province').select2();
    $('#patient_city').select2();
  })
</script>
