<div class="container my-5">
  <h1>Modifica Paziente</h1>
  <h5><%= @patient.fullname %></h5>
</div>
<div class="container">
  <%= simple_form_for @patient do |f| %>
  <div class="form-row">
    <div class="col-sm-6"><%= f.input :fname, label: 'Nome' %></div>
    <div class="col-sm-6"><%= f.input :lname, label: 'Cognome' %></div>
  </div>
  <div class="form-row">
    <div class="col-sm-6"><%= f.input :fiscalcode, label: 'Codice fiscale' %></div>
    <div class="col-sm-6"><%= f.input :birth_date, as: :date, start_year: 1900, end_year: Date.today.year, order: [:day, :month, :year], label: 'Data di nascita' %></div>
  </div>
  <div class="form-row">
    <div class="col-sm-6"><%= f.input :address, label: 'Indirizzo' %></div>
    <div class="col-sm-3"><%= f.input :city, label: 'Città' %></div>
    <div class="col-sm-3"><%= f.input :province, label: 'Provincia' %></div>
  </div>

  <div class="form-row">
    <div class="col-sm-4"><%= f.input :anamnesis, label: 'Anamnesi' %></div>
    <div class="col-sm-4"><%= f.input :eo, label: 'Esame Obiettivo' %></div>
    <div class="col-sm-4"><%= f.input :notes, label: 'Note' %></div>
  </div>

  <%= f.submit 'Salva', class: 'btn btn-primary' %>
  <% end %>
</div>
