<div class="container mt-5 mb-3">
  <div class="row">
    <div class="col-4 align-self-center">
      <p class="m-0 p-0">Scheda paziente</p>
      <h1><%= @patient.fullname %></h1>
    </div>

    <div class="col-4 align-self-center">

    </div>

    <div class="col-4 align-self-center">
      <% if allowed_to?(:edit?, @patient) %>
        <%= link_to 'Modifica scheda paziente', edit_patient_path(@patient), class: 'btn btn-primary' %>
      <% end %>
      <% if allowed_to?(:new?) %>
        <%= link_to 'Nuovo Esame', new_examination_path(patient_id: @patient), class: 'btn btn-secondary' %>
      <% end %>
    </div>
  </div>
  <hr>
</div>

<div class="container my-3">
  <h3>Dati paziente</h3>
  <div class="row mt-3">
    <div class="col-sm-2 text-center">
      <div class="p-3 border shadow">
        <p class="border-bottom">Sesso</p>
        <h4><%= @patient.gender %></h4>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="p-3 border shadow">
        <p class="border-bottom">Data di nascita</p>
        <h4><%= l @patient.birth_date, format: :long %> | <%= @patient.age %> anni</h4>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="p-3 border shadow">
        <p class="border-bottom">Codice fiscale</p>
        <h4><%= @patient.fiscalcode %></h4>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="p-3 border shadow">
        <p class="border-bottom">Città</p>
        <h4><%= @patient.city %></h4>
      </div>
    </div>
  </div>
</div>

<div class="container my-5">
  <h3 class="pb-3">Accessi del paziente: <%= @patient.examinations.count %></h3>
  <table class="table table-striped">
    <thead>
      <th width="150">Data</th>
      <th width="400">Situazione</th>
      <th>Esito</th>
      <th width="100">Link</th>
    </thead>
    <tbody>
      <% @patient.examinations.each do |exam| %>
        <tr>
          <td><%= exam.created_at.strftime("%d/%m/%y") %></td>
          <td><%= exam.situation %></td>
          <td><%= exam.result %></td>
          <td><%= link_to examination_path(exam) do %><%= fa_icon 'arrow-right' %><% end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
